body {
    font-family: 'Overpass', sans-serif;
    background-color: #fec9b2;
    color: #141b1d;
    font-size: 18px;
}

main {
    margin-right: auto;
    margin-left:  auto;
    max-width: 800px;
    padding-right: 10px;
    padding-left:  10px;
}

.logo {
    text-align: center;
    text-transform: uppercase;
}

.chat__box {
    border: 2px solid #c81f4c;
    border-radius: 6px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat__body {
    padding: 30px;
}

@media (max-width: 600px) {
    .chat__body {
        padding: 10px;
    }
}

.chat__footer {
    padding: 30px;
    border-top: 2px solid #c81f4c;
}

@media (max-width: 600px) {
    .chat__footer {
        padding: 10px;
    }
}

.chat__message {
    border-radius: 6px;
    padding: 10px;
    width: 50%;
}

@media (max-width: 600px) {
    .chat__message {
        border-radius: 6px;
        padding: 5px;
        width: 95%;
    }
}

.chat__message__primary {
    border: 1px solid #c81f4c;
    background-color: #c81f4c;
    color: #fec9b2;
}

.chat__message__secondary {
    border: 1px solid #1f8ac8;
    background-color: #1f8ac8;
    color: #fec9b2;
}

.chat__button {
    background-color: #c81f4c;
    border: 2px solid #c81f4c;
    border-radius: 6px;
    color: #fec9b2;
    padding: 10px;
    width: 90px;
    text-align: center;
    margin: 10px;
}

.chat__button:hover {
    background-color: #ffffff;
    border: 2px solid #c81f4c;
    border-radius: 6px;
    color: #c81f4c;
    padding: 10px;
    width: 90px;
    text-align: center;
    margin: 10px;
}

.chat__input {
    width: 80%;
    padding: 9px;
    background-color: #c81f4c;
    border: 2px solid #c81f4c;
    border-radius: 6px;
    color: #fec9b2;
    margin: 10px;
}